<!DOCTYPE html>
<html lang="es">

<div class="fondo_pagina">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/Formulario.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/proyectos.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/inicio.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">

    </head>

    <body>
        {% include "/Components/header.html" %}
        <main>
            {% block content %}

            {% endblock %}
        </main>
        {% include "Components/footer.html" %}
        <script src="/static/js/script.js"></script>
    </body>
</div>

</html>